nav {
  background-color: tomato;
}

div.router-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.product-search {
  white-space: nowrap;
  float: right;
}

.product-search > input {
  width: auto;
  display: inline;
}

span.cart-items-badge {
  margin-left: -15px;
}
