<div *ngIf="!!globalService.user; else login;">
  <nav class="page-side-space navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/">STORE</a>

    <div class="product-search" id="navbarSupportedContent">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="search"
             (keyup.enter)="onProductSearch()">
      <button class="btn btn-success my-2 my-sm-0" (click)="onProductSearch()">Search</button>
    </div>

    <div>
      <button class="btn btn-outline-warning" routerLink="/cart">
        <fa name="shopping-cart"></fa>&nbsp;Cart
      </button>
      <!-- TODO items-in-cart badge
      <span class="badge badge-pill badge-danger cart-items-badge">3</span>-->
      <button class="btn btn-outline-danger" (click)="logout()">
        <fa name="sign-out"></fa>
      </button>

      <button *ngIf="globalService.user.isAdmin" class="btn btn-outline-info" routerLink="/admin">
        <fa name="cogs"></fa>
      </button>
    </div>
  </nav>

  <div class="page-side-space router-container">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #login>
  <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>
</ng-template>
